version: "3.9"

services:
  app:
    build: .
    container_name: lister_app
    restart: always
    env_file:
      - .env
    environment:
      DOCKER: "true"
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:16
    container_name: my_postgres
    restart: always
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: aura
    ports:
      - "5434:5432"
    volumes:
      - lister_postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d mydb"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  lister_postgres_data:
